{% extends "emails/base.html" %}

{% block content %}
    <h1>Password Changed</h1>
    
    <p>Hi {{ user.first_name|default:user.username }},</p>
    
    <p>This is a security notification to inform you that your password has been changed successfully.</p>
    
    <p>If you made this change, no further action is required.</p>
    
    {% include "emails/components/divider.html" %}
    
    <p style="font-size: 14px; color: #6b7280;">If you did not make this change, please secure your account immediately by resetting your password and contacting our support team.</p>
    
    {% if support_email %}
    {% include "emails/components/button.html" with url="mailto:"|add:support_email label="Contact Support" %}
    {% endif %}
{% endblock %}
