{% extends "emails/base.html" %}

{% block content %}
    <h1>Password Reset Request</h1>
    
    <p>Hi {{ user.first_name|default:user.username }},</p>
    
    <p>We received a request to reset the password for your account. If you didn't make this request, you can safely ignore this email.</p>
    
    <p>To reset your password, please click the button below:</p>
    
    {% include "emails/components/button.html" with url=reset_url label="Reset My Password" %}
    
    <p>This link will expire in {{ expiration_time|default:"24 hours" }}.</p>
    
    {% include "emails/components/divider.html" %}
    
    <p style="font-size: 14px; color: #6b7280;">If you're having trouble clicking the button, copy and paste the following URL into your web browser:<br>
    <a href="{{ reset_url }}" style="word-break: break-all;">{{ reset_url }}</a></p>
{% endblock %}
